<div class="sidebar-container">

    <div class="sidebar__search">

        <div class="sidebar__search__input-container">
            {{input value=search.keyword placeholder="Search..."}}
        </div>

        <div class="sidebar__search__candidates-container">
            {{#if search.candidates}}
                <ul>
                    {{#each name in search.candidates}}
                        {{#link-to "subreddit" name}}
                            <li>/r/{{name}}</li>
                        {{/link-to}}
                    {{/each}}
                </ul>
            {{/if}}
        </div>

    </div>

    <div class="sidebar__account-container">

        {{#if account.profile}}
            <div id="sidebar__account__profile" class="sidebar__account">
                {{#link-to 'home'}}
                    <h1>{{account.profile.name}}</h1>
                {{/link-to}}
                <div {{action "delete" target=account}}>&#10060;</div>
            </div>
            <div class="sidebar__profile-container">
                <ul>
                    {{#link-to "mine" "overview"}}<li>Overview</li>{{/link-to}}
                    {{#link-to "mine" "submitted"}}<li>Submitted</li>{{/link-to}}
                    {{#link-to "mine" "comments"}}<li>Comments</li>{{/link-to}}
                    {{#link-to "mine" "liked"}}<li>Liked</li>{{/link-to}}
                    {{#link-to "mine" "disliked"}}<li>Disliked</li>{{/link-to}}
                    {{#link-to "mine" "saved"}}<li>Saved</li>{{/link-to}}
                    {{#link-to "mine" "hidden"}}<li>Hidden</li>{{/link-to}}
                    {{#link-to "mine" "gilded"}}<li>Gilded</li>{{/link-to}}
                </ul>
            </div>
        {{else}}
            {{login-box account=account}}
        {{/if}}

    </div>

</div>


<div class="main-container {{if isFullscreen 'is-fullscreen'}}">
    {{outlet}}
</div>