<div class="sidebar-container">

    <div class="sidebar__search">

        <div class="sidebar__search__input-container">
            {{input value=search.keyword placeholder="Search..."}}
        </div>

        <div class="sidebar__search__candidates-container">
            {{#if search.candidates}}
                <ul>
                    {{#each name in search.candidates}}
                        {{#link-to "subreddit" name}}
                            <li>/r/{{name}}</li>
                        {{/link-to}}
                    {{/each}}
                </ul>
            {{/if}}
        </div>

    </div>

    <div class="sidebar__account-container">

        {{#if account.profile}}
            <div id="sidebar__account__profile" class="sidebar__account">
                <h1>{{account.profile.name}}</h1>
                <div {{action "logout" target=account}}>&#10060;</div>
            </div>
            <div class="sidebar__profile-container">
                <ul>
                    {{#link-to "mine" "overview"}}<li>Overview</li>{{/link-to}}
                    {{#link-to "mine" "submitted"}}<li>Submitted</li>{{/link-to}}
                    {{#link-to "mine" "comments"}}<li>Comments</li>{{/link-to}}
                    {{#link-to "mine" "liked"}}<li>Liked</li>{{/link-to}}
                    {{#link-to "mine" "disliked"}}<li>Disliked</li>{{/link-to}}
                    {{#link-to "mine" "saved"}}<li>Saved</li>{{/link-to}}
                    {{#link-to "mine" "hidden"}}<li>Hidden</li>{{/link-to}}
                    {{#link-to "mine" "gilded"}}<li>Gilded</li>{{/link-to}}
                </ul>
            </div>
        {{else}}
            {{#if account.isFetchingProfile}}
                <div id="sidebar__account__fetching" class="sidebar__account">
                    <h1>Fetching your profile</h1>
                </div>
            {{else}}
                {{#if account.isFetchingToken}}
                    <div id="sidebar__account__fetching" class="sidebar__account">
                        <h1>Fetching Reddit API credentials</h1>
                    </div>
                {{else}}
                    {{#if account.popup}}
                        <div id="sidebar__account__popup" class="sidebar__account">
                            <h1>Please finish login in the pupup window</h1>
                            <div {{action "closePopup" target=account}}>&#10060;</div>
                        </div>
                    {{else}}
                        <div id="sidebar__account__login" class="sidebar__account">
                            <h1>You are not logged in</h1>
                            <div {{action "loginPopup" target=account}}>&#10132;</div>
                        </div>
                    {{/if}}
                {{/if}}
            {{/if}}
        {{/if}}

    </div>

</div>


<div class="main-container {{if isFullscreen 'is-fullscreen'}}">
    {{outlet}}
</div>