<div class="sidebar__search">

    <div class="sidebar__search__input-container">
        {{input valueBinding="controllers.search.keyword" placeholder="Search..."}}
    </div>

    <div class="sidebar__search__candidates-container">
        {{#if controllers.search.candidates}}
            <ul>
                {{#each name in controllers.search.candidates}}
                    {{#link-to "subreddit" name}}
                        <li>/r/{{name}}</li>
                    {{/link-to}}
                {{/each}}
            </ul>
        {{/if}}
    </div>

</div>

<div class="sidebar__account-container">

    {{#if account.model}}
        <div id="sidebar__account__profile" class="sidebar__account">
            <h1>{{account.name}}</h1>
            <div {{action "logout" target=account}}>&#10060;</div>
        </div>
    {{else}}
        {{#if account.isFetchingProfile}}
            <div id="sidebar__account__fetching" class="sidebar__account">
                <h1>Fetching your profile</h1>
            </div>
        {{else}}
            {{#if account.isFetchingToken}}
                <div id="sidebar__account__fetching" class="sidebar__account">
                    <h1>Fetching Reddit API credentials</h1>
                </div>
            {{else}}
                {{#if account.popup}}
                    <div id="sidebar__account__popup" class="sidebar__account">
                        <h1>Please finish login in the pupup window</h1>
                        <div {{action "closePopup" target=account}}>&#10060;</div>
                    </div>
                {{else}}
                    <div id="sidebar__account__login" class="sidebar__account">
                        <h1>You are not logged in</h1>
                        <div {{action "loginPopup" target=account}}>&#10132;</div>
                    </div>
                {{/if}}
            {{/if}}
        {{/if}}
    {{/if}}

</div>

