<div class="sidebar__search">

    <div class="sidebar__search__input-container">
        {{input valueBinding="controllers.search.keyword" placeholder="Search..."}}
    </div>

    <div class="sidebar__search__candidates-container">
        {{#if controllers.search.candidates}}
            <ul>
                {{#each name in controllers.search.candidates}}
                    {{#link-to "subreddit" name}}
                        <li>/r/{{name}}</li>
                    {{/link-to}}
                {{/each}}
            </ul>
        {{/if}}
    </div>

</div>

{{#if account.isLoggedIn}}
    You are logged in
{{else}}
    <div class="sidebar__login-container">
        {{#if account.popup}}
            <div class="sidebar__login__popup">
                <h1>Please finish login in the pupup window</h1>
                <div {{action "closePopup" target=account}}>Cancel</div>
            </div>
        {{else}}
            <div class="sidebar__login__before" {{action "loginPopup" target=account}}>
                Login
            </div>
        {{/if}}
    </div>
{{/if}}