<div class="subreddit__navbar">

    <div class="subreddit__navbar__toggle" {{action "toggleFullscreen"}}>
        <span>&#9776;</span>
    </div>

    <div class="subreddit__navbar__header">
        <h1>{{name}}</h1>
    </div>

    <ul class="subreddit__navbar__order-switcher">
        {{#each order in orders}}

            {{#view view.OrderTabView order=order}}
                {{#link-to "subreddit" name (query-params order=view.order)}}
                    <span>{{view.order}}</span>
                {{/link-to}}
            {{/view}}

        {{/each}}
    </ul>

</div>

<div {{bind-attr class=":subreddit__container isFull::not-full"}}>

    <div {{bind-attr class=":subreddit__feeds-container isFull::not-full"}}>

        {{#if isFull}}

            <div class="subreddit__grid-container">

                {{#view "feedGrid" controller=controllers.stream}}

                    {{#each feed in this}}

                        {{view "feedTile" controller=feed}}

                    {{/each}}

                {{/view}}

            </div>

        {{else}}

            <div class="subreddit__feed-list-container">
                <ul>
                    {{#each feed in controllers.stream}}

                        {{#link-to "subreddit.post" feed.model}}

                            <li class="subreddit__feed-list__item">

                                {{#if feed.hasThumbnail}}
                                    <div class="feed-list__item__thumbnail" {{bind-attr style=feed.backgroundStyle}}>
                                        <h1>{{feed.score}}</h1>
                                    </div>
                                {{else}}
                                    <div class="feed-list__item__thumbnail">
                                        <h1>{{feed.score}}</h1>
                                    </div>
                                {{/if}}

                                <div class="feed-list__item__title">{{feed.title}}</div>

                            </li>

                        {{/link-to}}

                    {{/each}}
                </ul>
            </div>

        {{/if}}

        <div class="subreddit__load" {{action "loadMore"}}>load More</div>

    </div>

    {{outlet}}

</div>