{{#subreddit-window subreddit=controller application=controllers.application}}

    <div {{bind-attr class=":subreddit__body isFull::not-full"}}>

        <div {{bind-attr class=":subreddit__feeds-container isFull::not-full"}}>

            {{#if isFull}}

                <div class="subreddit__grid-container">

                    {{feed-grid stream=controllers.stream}}

                </div>

            {{else}}

                <div class="subreddit__feed-list-container">
                    {{feed-list stream=controllers.stream}}
                </div>

            {{/if}}

            <div class="subreddit__load" {{action "loadMore"}}>
                {{#if controllers.stream.isLoading}}
                    Loading...
                {{else}}
                    Load More
                {{/if}}
            </div>

        </div>

        {{outlet}}

    </div>

{{/subreddit-window}}