<div class="subreddit__navbar">

    <div class="subreddit__navbar__toggle" {{action "toggleFullscreen"}}>
        <span>&#9776;</span>
    </div>

    <div class="subreddit__navbar__header">
        <h1>{{name}}</h1>
    </div>

    <ul class="subreddit__navbar__order-switcher">
        {{#each order in orders}}

            {{#view view.OrderTabView order=order}}
                {{#link-to "subreddit" name (query-params order=view.order)}}
                    <span>{{view.order}}</span>
                {{/link-to}}
            {{/view}}

        {{/each}}
    </ul>

</div>

<div class="subreddit__grid-container">

    {{#if isFull}}

        {{#view "feedGrid" controller=controllers.stream}}

            {{#each feed in this}}

                {{view "feedTile" controller=feed}}

            {{/each}}

        {{/view}}

    {{else}}

        <span>a list</span>

    {{/if}}

    <div class="subreddit__load" {{action "loadMore"}}>load More</div>

</div>