{{#subreddit-window subreddit=controller application=controllers.application}}

    <div {{bind-attr class=":subreddit__body isFull::not-full"}}>

        <div {{bind-attr class=":subreddit__feeds-container isFull::not-full"}}>

            {{#if isFull}}

                {{feed-grid stream=controllers.stream}}

            {{else}}

                <div class="subreddit__feed-list-container">
                    {{feed-list stream=controllers.stream}}
                </div>

            {{/if}}

        </div>

        {{outlet}}

    </div>

{{/subreddit-window}}