{{#if view.thumbnailVisiable}}
    <img class="thumbnail" {{bind-attr src=thumbnail}}>
{{/if}}

{{#if hasImage}}
    <img {{bind-attr src=url class=":full-size view.imageReady"}}>
{{/if}}

<div class="subreddit__grid-tile__header">
    <h1>{{author}}</h1>
    <h1>{{title}}</h1>
    {{#if url}}
        <h1>
            <a target="_blank" {{bind-attr href=url}}>Link</a>
            <a target="_blank" {{bind-attr href=redditLink}}>Comments</a>
        </h1>
    {{/if}}
</div>