{{#if isImage}}
    {{view "imageThumbnail" thumbnail=thumbnail url=url}}
{{/if}}

<h1 class="grid-tile__metadata">
    <span>{{author}}</span>
    <a target="_blank" {{bind-attr href=redditLink}}>Comments</a>
</h1>

<h1 class="grid-tile__title-bar">
    {{#if url}}
        <a target="_blank" {{bind-attr href=url}}>
            <span>{{title}}</span>
        </a>
    {{else}}
        <span>{{title}}</span>
    {{/if}}
</h1>
