{{#if feed.isImage}}
    {{image-thumbnail feed=feed}}
{{/if}}

<div class="feed-tile__status-bar">

    <div class="link__status-icon link__score">
        <span>{{feed.score}}</span>
    </div>

    <div class="link__status-icon link__upvote {{if votePending "is-pending"}} {{if upvoted "is-on"}}"  {{action "toggleVote" true}}>
        <span>&#9650;</span>
    </div>

    <div class="link__status-icon link__downvote {{if votePending "is-pending"}} {{if downvoted "is-on"}}" {{action "toggleVote" false}}>
        <span>&#9660;</span>
    </div>

    <div class="link__status-icon link__save {{if savePending "is-pending"}} {{if feed.saved "is-on"}}" {{action "toggleSave"}}>
        <span>
            {{#if feed.saved}}
                &#9733;
            {{else}}
                &#9734;
            {{/if}}
        </span>
    </div>

    <a class="link__status-icon link__reddit" target="_blank" href="{{feed.redditLink}}">
        <span>r</span>
    </a>

    <div class="link__status-icon link__enter" {{action "enter"}}>
        <span>&#10132;</span>
    </div>

</div>

<div class="feed-tile__info">

    <h1 class="grid-tile__title-bar">
        {{#if feed.url}}
            <a target="_blank" href="{{feed.url}}">
                <span>{{feed.title}}</span>
            </a>
        {{else}}
            <span>{{feed.title}}</span>
        {{/if}}
    </h1>

</div>