{{#if feed.hasThumbnail}}
    <div class="feed-list__item__thumbnail" style="background-image: url({{ feed.thumbnail }})">
        <h1>{{feed.score}}</h1>
    </div>
{{else}}
    <div class="feed-list__item__thumbnail">
        <h1>{{feed.score}}</h1>
    </div>
{{/if}}

<div class="feed-list__item__title">{{feed.title}}</div>