{{#if feed.isImage}}
    {{image-thumbnail feed=feed}}
{{/if}}

<ul class="feed-tile__status-bar">

    <li class="feet-tile__status-bar__item score">
        <div class="link__status-icon link__score">
            <span>{{feed.score}}</span>
        </div>
    </li>

    <li class="feet-tile__status-bar__item upvote">
        {{vote-button content=feed isUp=true}}
    </li>

    <li class="feet-tile__status-bar__item downvote">
        {{vote-button content=feed isUp=false}}
    </li>

    <li class="feet-tile__status-bar__item save">
        {{save-button content=feed}}
    </li>

    <li class="feet-tile__status-bar__item link">
        {{reddit-link content=feed}}
    </li>

    <li class="feet-tile__status-bar__item enter">
        <div class="link__status-icon link__enter" {{action "enter"}}>
            <span>&#10132;</span>
        </div>
    </li>

</ul>

<div class="feed-tile__info">

    <h1 class="grid-tile__title-bar">
        {{#if feed.url}}
            <a target="_blank" href="{{feed.url}}">
                <span>{{feed.title}}</span>
            </a>
        {{else}}
            <span>{{feed.title}}</span>
        {{/if}}
    </h1>

</div>