{{#if link.hasFull}}
    <img src="{{link.url}}">
{{else}}
    {{#if link.isImgur}}
        <iframe class="link-detail__imgur-embed" frameborder="0" src="{{link.imgurEmbedUrl}}"></iframe>
    {{/if}}
{{/if}}

<ul class="link-detail__status-bar">

    <li class="link-detail__status-bar__item title">
        <h1 class="link-detail__status-bar__title">
            <a target="_blank" href="{{link.url}}">
                {{link.title}}
            </a>
        </h1>
    </li>

    <li class="link-detail__status-bar__item score">
        <span>{{link.score}}</span>
    </li>

    <li class="link-detail__status-bar__item link">
        {{reddit-link content=link}}
    </li>

    <li class="link-detail__status-bar__item upvote">
        {{vote-button content=link isUp=true}}
    </li>

    <li class="link-detail__status-bar__item downvote">
        {{vote-button content=link isUp=false}}
    </li>

    <li class="link-detail__status-bar__item save">
        {{save-button content=link}}
    </li>

</ul>

<div class="post__comments-container">
    {{#if isLoadingComments}}
        <div class="post__comments__loading">Loading Comments...</div>
    {{else}}
        {{#if comments}}
            <div class="post__comments__tree">
                {{comment-Tree comments=comments}}
            </div>
        {{else}}
            <div class="post__comments__loading">No Comment Yet</div>
        {{/if}}
    {{/if}}
</div>
