<div class="subreddit__post-container">

    {{#if post.hasFull}}
        <img {{bind-attr src=post.url}}>
    {{/if}}

    <div class="post__title-bar">
        <h1 class="post__title-bar__title">{{post.title}}</h1>
        <h1 class="post__title-bar__stats">
            <span class="post__title-bar__up">{{post.ups}}</span>
            <span class="post__title-bar__down">{{post.downs}}</span>
            <a class="post__title-bar__link" target="_blank" {{bind-attr href=post.redditLink}}>&#10132;</a>
        </h1>
    </div>

    <div class="post__comments-container">
        {{#if comments}}
            {{view "commentTree" comments=comments}}
        {{else}}
            <div>Loading Comments...</div>
        {{/if}}
    </div>

</div>